
/* CODEBASE GLOBALE */

@use "_variables.scss";
@use "_mixins.scss";





/* UTILS ****************************************************************************** */

// $primaire: #9356DC;
// $secondaire: #FF79DA;
// $tertiaire: #99E2D0;
// $grey: #eaeaea;
// @mixin roboto {
// 	font-family: 'Roboto', sans-serif;
// 	font-size: 1em;
// }

/* BASE ******************************************************************************** */

.container {
	margin: 0px;
	padding: 0px;
	@include roboto;
	display: flex;
	flex-direction: column;
	align-content: center;
}

/* MAIN ******************************************************************************** */

.header {
	display: flex;
	box-shadow: 0px 10px 14px -7px darken($grey, 10%);
	justify-content: center;
	align-items: center;
	position: relative;
  	z-index: 1000;
	figure {
		text-align: center;
		padding: 20px 40px 10px;
		margin: 0px;
		width: 400px;
		img {
			margin: auto;
			width: 60%;
		}
	}
	a {
		position: absolute;
		left: 20px;
		text-decoration: none;
		color: #000000;
	}
}

.home {
	display: flex;
	flex-direction: column;
	h3 {
		margin: 40px 15px 20px;
		font-size: 1.5em;
	}
	&__map {
		a {
			display: flex;
			justify-content: center;
			background: $grey;
			text-decoration: none;
			color: #000000;
			font-weight: 500;
			i {
				margin: 16px 16px 16px 0px;
			}
		}
	}	
	&__reservez {
		background: lighten($grey, 5%);
		padding: 20px 0px 10px;
		h1 {
			font-size: 1.5em;
			text-align: center;
			margin: 20px 0px 10px;
		}
		h2 {
			font-size: 1.1em;
			font-weight: 300;
			text-align: center;
			margin: 0px 0px 30px;
			color: darken($grey, 50%);
		}
	}
	&__fonctionnement {
		padding-bottom: 40px;
		.button {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			background: lighten($grey, 5%);
			width: 85%;
			margin: 15px auto;
			box-shadow: 0px 10px 14px -7px darken($grey, 20%);
			border-radius: 20px;
			padding: 10px 0px;
			position: relative;
			text-decoration: none;
			color: #000000;
			&__number {
			width: 20px;
			height: 20px;
			border-radius: 20px;
			background: $primaire;
			text-align: center;
			color: #FFFFFF;
			font-size: 0.8em; 
			font-weight: 400;
			position: absolute;
			left: -8px;
			}
			&__choix {
				font-weight: 600;
				margin-left: 10px;
				font-size: 1em;
			}
			i {
				margin: 0px 16px 0px 35px;
				font-size: 1.2em;
				color: darken($grey, 40%);
			}
		}
	}
	&__restaurant {
		background: lighten($grey, 5%);
		padding-bottom: 50px;
		a {
			display: flex;
			position: relative;
			flex-direction: column;
			align-content: center;
			margin: 20px;
			border-radius: 10px;
			text-decoration: none;
			color: #000000;
			box-shadow: 0px 10px 14px -7px darken($grey, 20%);
		}
		h4 {
			margin: 16px;
			margin: 16px 10px;
			width: 80%;
			span {
				font-weight: 300;
			}
		}
		.image {
		  	text-align: center;
		  	margin: 0px;
		  	height: 200px;
		  	img {
				height: 200px;
		  		width: 100%;
		  		background-size: cover;
		  		border-top-left-radius: 15px;
		  		border-top-right-radius: 15px;
		  	}
		}
		.info {
			display: flex;
			background: #FFFFFF;
			border-bottom-left-radius: 15px;
		  	border-bottom-right-radius: 15px;
		}
		.nouveau {
			position: absolute;
			border-radius: 3px;
			top: 16px;
			right: 16px;
			background: $tertiaire;
			color: darken($tertiaire, 40%);
			width: 20%;
			font-weight: 700;
			padding: 8px 10px;
		}
	}
}

.menu {
	display: flex;
	flex-direction: column;
	background-color: $grey;
	h1 {
		font-family: 'Shrikhand', sans-serif;
		font-size: 1.8em;
		font-weight: 300;
		margin: 25px 16px 10px 16px;
	}
	h2 {
		text-transform: uppercase;
		font-size: 1.1em;
		font-weight: 400;
		margin-bottom: 0px;
	}
	hr {
		color: $tertiaire;
		border: 1px solid $tertiaire;
		width: 2.3em;
		margin-left: 0px;
	}
	&__photo {
		width: 100%;
		height: 300px;
		margin: 0px;
		img {
			position: relative;
			object-fit: cover;
			width: 100%;
			height: 300px;
			margin: 0px;	
		}
	}
	&__titre {
		display: flex;
    	align-items: center;
    	justify-content: space-between;
    	background-color: $grey;
    	margin-top: -4em;
    	border-radius: 2em 2em 0 0;
    	background-color: $grey;
    	z-index: 1;
    	position: relative;
	}
	&__plat {
		padding: 16px 16px 0px 16px;
		.button {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background: lighten($grey, 5%);
			margin: 15px auto;
			padding: 0px 10px;
			box-shadow: 0px 10px 14px -7px darken($grey, 20%);
			border-radius: 20px;
			position: relative;
			text-decoration: none;
			color: #000000;
			height: 70px;
			&__description {
				font-size: 1.1em;
				font-weight: 700;
				margin: 5px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				span {
					font-size: 0.8em;
					font-weight: 300;
					padding-top: 8px;
				}
			}
			&__price {
				font-size: 1em;
				font-weight: 700;
				margin: 20px 10px 0px 10px;
			}
			&__icon {
				overflow: hidden;
			    padding: .7em 0;
			    width: 0;
			}
		}
	}
}

.footer {
	background: darken($grey, 70%);
	padding: 0px 20px 40px;
	&__lien {
		display: flex;
	}
	h4 {
		font-family: 'Shrikhand', sans-serif;
		font-size: 1.1em;
		font-weight: 500;
		color: #FFFFFF;
		margin: 16px 0px;
	} 
	p, a {
		color: #FFFFFF;
		margin: 0px 10px 10px 0px;
		text-decoration: none;
	}
	i {
		color: #FFFFFF;
		width: 30px;
		height: 8px;
	}
}

/* ANIME ********************************************************************************* */

/* Button */

.action {
	text-align: center;
	margin: 30px 0px 60px 0px;
	width: 100%;
	&__btn {
	  	border: 0;
	  	padding: 0.75em 1.5em;
	  	font-weight: 500;
	  	font-size: 1em;
	  	border-radius: 100px;
	  	color: white;
	  	background: linear-gradient(to bottom, $secondaire, $primaire);
	  	cursor: pointer;
	  	transition-duration: 0.25s;
	  	box-shadow: 0.25em 0.25em 10px rgba(0, 0, 0, 0.25);

	  	&:hover {
	    	opacity: 0.8;
	    	box-shadow: 0px 10px 14px -7px rgba(0, 0, 0, 0.50);
	  	}
	  	&--commande {
		width: 180px;
		}
	}
}


/* Loader-spinner */

.loader {
	display:flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 0.90);
	z-index: 10000;
	animation: loader 0.01s;
	animation-delay: 1.75s;
	animation-fill-mode: both;
	 &__container {
	    display: flex;
	    width: 5em;
	    justify-content: space-between;
   	}
  	&__item {
    	height: 1em;
    	width: 1em;
    	border-radius: 1em;
    	animation: jump 1s;
    	animation-iteration-count: 1;
	    &--1 {
	      background-color: $primaire;
	    }
	  
	    &--2 {
	      background-color: $secondaire;
	      animation-delay: 0.25s;
	    }
	  
	    &--3 {
	      background-color: $tertiaire;
	      animation-delay: 0.5s;
	    }
	}
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5em);
  }
  75% {
    transform: translateY(-0.5em);
  }
  100% {
    transform: translateY(0);
  }
}

/* Heart Like */

.heart {
    position: relative;
    float: right;
    margin: 30px 30px 20px 0px;
    font-size: 22px;
    transition: color 0.5s ease-in;
	&:hover {
    cursor: pointer;
    color: $secondaire;
	}
}

/* Price Animation */


/* Menu Animation */

// .menu {
//     transform: translateY(100px);
//     transition: 0.2s;
//   	&:hover {
//     transform: translateY(0);
// 	  .button1 {
// 	    transition-delay: 0.0s;
// 	  }
// 	  .button2 {
// 	    transition-delay: 0.05s;
// 	  }
// 	  .button3 {
// 	    transition-delay: 0.1s;
// 	  }
// 	  .button4 {
// 	    transition-delay: 0.15s;
// 	  }
// 	  .button5 {
// 	    transition-delay: 0.2s;
// 	  }
// 	  .button6 {
// 	    transition-delay: 0.25s;
// 	  }
// 	}
// }


/* MEDIA QUERIES *********************** */

@media only screen and (min-width: 768px) {
	
	body {
		margin: 0px;
		padding: 0px;
		@include roboto;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.container {
		width: 375px;
	}

	.bandeau {
		background: linear-gradient(to top, $secondaire, $primaire);
		width: 600px;
	}
}