/* UTILS ******************************************************************************* */

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$grey: #eaeaea;
@mixin roboto {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

/* BASE ******************************************************************************** */

body {
	margin: 0px;
	padding: 0px;
	@include roboto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	a {
		text-decoration: none;
		color: #000000;
	}
	figure {
		margin: 0px;
		img {
		width: 100%;
		}
	}
	form {
		text-align: center;
	}
}

/* HEADER *************************************************************************** */

.header figure {
	text-align: center;
	margin: 20px 40px 10px;
	img {
		margin: auto;
		width: 60%;
	}
}

/* HOME ******************************************************************************/

.home {
	display: flex;
	flex-direction: column;
	// align-items: center;
	&__map a {
		display: flex;
		justify-content: center;
		background: $grey;
		i {
			margin: 16px 16px 16px 0px;
		}
	}
	&__reservez {
		background: lighten($grey, 5%);
		padding: 20px 0px 60px;
	}
	&__fonctionnement {
		padding-bottom: 40px;
		a {
		display: flex;
		justify-content: center;
		align-items: center;
		background: lighten($grey, 5%);
		width: 90%;
		margin: 15px auto;
		}
		i {
			margin: 16px;
			width: 10%;
		}
	}
	&__restaurant {
		background: lighten($grey, 5%);
		padding-bottom: 50px;
		a {
			display: flex;
			flex-direction: column;
			align-content: center;
			margin: 20px;
		}
		h4 {
			margin: 16px;
		}
	}
	h1 {
		font-size: 1.5em;
		text-align: center;
		margin: 20px 0px 10px;
	}
	h2 {
		font-size: 1.1em;
		font-weight: 300;
		text-align: center;
		margin: 0px 0px 30px;
	}
	h3 {
		margin: 40px 15px 20px;
		font-size: 1.5em;
	}
}

.image {
	display: flex;
	position: relative;
  	text-align: center;
}
.new {
	position: absolute;
	top: 8px;
	right: 16px;
	background: $tertiaire;
	color: darken($tertiaire, 40%);
	width: 25%;
	font-weight: 700;
}

.info {
	display: flex;
	background: #FFFFFF;
	h4 {
		margin: 16px 10px;
		width: 80%;
	}
}

/* MENU ***************************************************************************** */



/* FOOTER ************************************************************************** */

.footer {
	background: darken($grey, 70%);
	padding: 0px 20px 40px;
	&__lien {
		display: flex;
	}
	h4 {
		font-family: 'Shrikhand', sans-serif;
		font-size: 1.1em;
		font-weight: 500;
		color: #FFFFFF;
		margin: 16px 0px;
	} 
	p, a {
		color: #FFFFFF;
		margin: 0px 10px 10px 0px;
	}
	i {
		color: #FFFFFF;
		width: 8%;
		height: 3%;
	}
}