/* UTILS ******************************************************************************* */
/* BASE ******************************************************************************** */
.container {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container__home {
  display: flex;
  flex-direction: column;
}
.container__home h3 {
  margin: 40px 15px 20px;
  font-size: 1.5em;
}
.container__footer {
  background: #383838;
  padding: 0px 20px 40px;
}
.container__footer .lien {
  display: flex;
}
.container__footer h4 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: #FFFFFF;
  margin: 16px 0px;
}
.container__footer p, .container__footer a {
  color: #FFFFFF;
  margin: 0px 10px 10px 0px;
}
.container__footer i {
  color: #FFFFFF;
  width: 8%;
  height: 3%;
}

form {
  text-align: center;
}

.btn {
  box-shadow: 0px 10px 14px -7px #9e9e9e;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 42px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1em;
  padding: 15px 5px;
  text-decoration: none;
  width: 58%;
}
.btn:hover {
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  background-color: #FF79DA;
}
.btn:active {
  position: relative;
  top: 1px;
}

/* HEADER *************************************************************************** */
.header figure {
  text-align: center;
  padding: 20px 40px 10px;
  box-shadow: 6px 6px 0px #515151;
  margin: 0px;
}
.header figure img {
  margin: auto;
  width: 60%;
}

/* HOME ******************************************************************************/
.map a {
  display: flex;
  justify-content: center;
  background: #eaeaea;
  text-decoration: none;
  color: #000000;
}
.map a i {
  margin: 16px 16px 16px 0px;
}

.reservez {
  background: #f7f7f7;
  padding: 20px 0px 60px;
}
.reservez h1 {
  font-size: 1.5em;
  text-align: center;
  margin: 20px 0px 10px;
}
.reservez h2 {
  font-size: 1.1em;
  font-weight: 300;
  text-align: center;
  margin: 0px 0px 30px;
  color: #6b6b6b;
}

.fonctionnement {
  padding-bottom: 40px;
}
.fonctionnement a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f7f7f7;
  width: 85%;
  margin: 15px auto;
  box-shadow: 0px 10px 14px -7px #b7b7b7;
  border-radius: 20px;
  padding: 10px 0px;
  text-decoration: none;
  color: #000000;
}
.fonctionnement i {
  margin: 16px;
  font-size: 1em;
  color: #6b6b6b;
}
.fonctionnement p {
  font-weight: 600;
  margin-left: 10px;
  font-size: 1em;
}
.fonctionnement__.number {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #9356DC;
  text-align: center;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 300;
}

.restaurant {
  background: #f7f7f7;
  padding-bottom: 50px;
}
.restaurant a {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #000000;
}
.restaurant h4 {
  margin: 16px;
  margin: 16px 10px;
  width: 80%;
}
.restaurant__image {
  display: flex;
  position: relative;
  text-align: center;
  margin: 0px;
}
.restaurant__image img {
  width: 100%;
}
.restaurant__info {
  display: flex;
  background: #FFFFFF;
}
.restaurant__new {
  position: absolute;
  top: 8px;
  right: 16px;
  background: #99E2D0;
  color: #278870;
  width: 25%;
  font-weight: 700;
}

/* MENU ***************************************************************************** */

/*# sourceMappingURL=styles.css.map */
