/* UTILS ******************************************************************************* */

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$grey: #eaeaea;
@mixin roboto {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

/* BASE ******************************************************************************** */

.container {
	margin: 0px;
	padding: 0px;
	@include roboto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&__home {
		display: flex;
		flex-direction: column;
		h3 {
		margin: 40px 15px 20px;
		font-size: 1.5em;
		}
	}
	&__menu {

	}
	&__footer {
	background: darken($grey, 70%);
	padding: 0px 20px 40px;
		.lien {
		display: flex;
		}
		h4 {
			font-family: 'Shrikhand', sans-serif;
			font-size: 1.1em;
			font-weight: 500;
			color: #FFFFFF;
			margin: 16px 0px;
		} 
		p, a {
			color: #FFFFFF;
			margin: 0px 10px 10px 0px;
		}
		i {
			color: #FFFFFF;
			width: 8%;
			height: 3%;
		}
	}
}

form {
		text-align: center;
	}

.btn {
	box-shadow: 0px 10px 14px -7px darken($grey, 30%);
	background: linear-gradient(to bottom, $secondaire, $primaire);
	border-radius: 42px;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 1em;
	padding: 15px 5px;
	text-decoration: none;
	width: 58%;
	&:hover {
		background:linear-gradient(to bottom, $secondaire, $primaire);
		background-color: $secondaire;
	}
	&:active {
		position: relative;
		top: 1px;
	}
}

.anime {
	&__heart {

	}
}

/* HEADER *************************************************************************** */

.header figure {
	text-align: center;
	padding: 20px 40px 10px;
	box-shadow: 6px 6px 0px darken($grey, 60%);
	margin: 0px;
		img {
			margin: auto;
			width: 60%;
		}
}

/* HOME ******************************************************************************/

.map {
	a {
		display: flex;
		justify-content: center;
		background: $grey;
		text-decoration: none;
		color: #000000;
		i {
			margin: 16px 16px 16px 0px;
		}
	}
}

.reservez {
	background: lighten($grey, 5%);
	padding: 20px 0px 60px;
	h1 {
		font-size: 1.5em;
		text-align: center;
		margin: 20px 0px 10px;
	}
	h2 {
		font-size: 1.1em;
		font-weight: 300;
		text-align: center;
		margin: 0px 0px 30px;
		color: darken($grey, 50%);
	}
}

.fonctionnement {
	padding-bottom: 40px;
	a {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		background: lighten($grey, 5%);
		width: 85%;
		margin: 15px auto;
		box-shadow: 0px 10px 14px -7px darken($grey, 20%);
		border-radius: 20px;
		padding: 10px 0px;
		text-decoration: none;
		color: #000000;
	}
	i {
		margin: 16px;
		font-size: 1em;
		color: darken($grey, 50%);
	}
	p{
		font-weight: 600;
		margin-left: 10px;
		font-size: 1em;
	}
	&__.number {
		width: 20px;
		height: 20px;
		border-radius: 20px;
		background: $primaire;
		text-align: center;
		color: #FFFFFF;
		font-size: 1em; 
		font-weight: 300;
	}
}

.restaurant {
	background: lighten($grey, 5%);
	padding-bottom: 50px;
	a {
		display: flex;
		flex-direction: column;
		align-content: center;
		margin: 20px;
		border-radius: 10px;
		text-decoration: none;
		color: #000000;
	}
	h4 {
		margin: 16px;
		margin: 16px 10px;
		width: 80%;
	}
	&__image {
		display: flex;
		position: relative;
	  	text-align: center;
	  	margin: 0px;
	  	img {
	  		width: 100%;
	  	}
	}
	&__info {
		display: flex;
		background: #FFFFFF;
	}
	&__new {
		position: absolute;
		top: 8px;
		right: 16px;
		background: $tertiaire;
		color: darken($tertiaire, 40%);
		width: 25%;
		font-weight: 700;
	}
}

/* MENU ***************************************************************************** */



