/* HEART ANIMATION */
.heart {
	display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    padding: 30px 30px 20px 0px;
    cursor: pointer;
    &--menu {
    	padding: 30px 50px 30px 0px;
    }
    i {
    	font-size: 22px;
    	position: absolute;
    	color: transparent;
	    background-clip: text;
	    background: $black;
	    -webkit-background-clip: text;
	    &.far {
	    	// z-index: 2000;
	    	// background-clip: text;
	    	// background: $black;
	    	// -webkit-background-clip: text;
	    	// color: transparent;
	    }
		&.fas {
			background-clip: text;
			background: linear-gradient(to bottom, $secondaire, $primaire);
			-webkit-background-clip: text;
			transition: opacity 1s ease-in-out;
			opacity: 0;
			// z-index: 1000;
			&:hover {
				opacity: 1;
			}
		}
	}
}

/* MENU ANIMATION */
.plat {
	position: relative;
	&__button1 {
		position: absolute;
		animation: deroule 1s linear;
		animation-delay: 0.2s;
		animation-fill-mode: both;
	}
	&__button2 {
		position: absolute;
		animation: deroule 1s linear;
		animation-delay: 0.35s;
		animation-fill-mode: both;
	}
	&__button3 {
		position: absolute;
		animation: deroule 1s linear;
		animation-delay: 0.50s;
		animation-fill-mode: both;
	}
	&__button4 {
		position: absolute;
		animation: deroule 1s linear;
		animation-delay: 0.65s;
		animation-fill-mode: both;
	}
}

/* CHECK ANIMATION */
.button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: lighten($background, 5%);
	margin: 15px auto;
	padding-left: 10px;
	box-shadow: 0px 10px 14px -7px darken($background, 20%);
	border-radius: 20px;
	position: relative;
	text-decoration: none;
	color: $black;
	height: 70px;
	cursor: pointer;
	overflow: hidden;
	&__description {
		font-size: 1.1em;
		font-weight: 700;
		margin: 5px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		span {
			font-size: 0.8em;
			font-weight: 300;
			padding-top: 8px;
		}
	}
	&__price {
		font-size: 1em;
		font-weight: 700;
		padding: 20px;
	}
	i {
		color: $white;
		background: $tertiaire;
		padding: 25px 20px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		align-items: stretch;
		display: flex;
		font-size: 1.3em;
		transform-origin: right;
		position: absolute;
		right: -62px;
	}
	&:hover > i {
		animation: check 400ms linear;
		animation-fill-mode: both;
		&::before {
			animation: rotate 400ms linear;
		}
	}
	&:hover > .price {
		animation: check 400ms linear;
		animation-fill-mode: both;
	}
	&:hover > .description {
		animation: diminue 400ms linear;
		animation-fill-mode: both;
	}
}