@media only screen and (min-width: 768px) {
	
	body {
		display: flex;
		justify-content: center;

		.container {
			width: 375px;
		}

		.bandeau {
			background: linear-gradient(to top, $secondaire, $primaire);
			width: 600px;
		}
	}
}